#notapage {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  background: red;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-family: discord;
  font-size: 40px;
}

a {
  color: white;
}

#notapage:hover {
  background: #ff6868;
}

@font-face {
  font-family: discord;
  src: url("css_stuff/discord.otf") format("opentype");
}
