@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Nunito:wght@600&family=Roboto&display=swap");

@font-face {
  font-family: productsans;
  src: url("css_stuff/product-sans.otf") format("opentype");
}

@font-face {
  font-family: discord;
  src: url("css_stuff/discord.otf") format("opentype");
}

body {
  background: #616161;
  font-family: productsans, "Roboto", sans-serif;
  margin: 0;
}

#title {
  font-family: "Cairo", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #928497;
}

ul {
  font-family: "Nunito", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a:hover:not(.active) {
  background-color: #111;
}

a {
  color: #272727;
}

a:hover {
  color: #3c3c3c;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4cabaf;
}

.content {
  padding: 20px;
  margin-top: 30px;
}

.sn-content {
  padding: 20px;
  margin-top: 30px;
  margin-left: 160px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}